polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" && 
        action.lookup("program") == "/usr/lib/vmware/bin/vmware-setup-helper" &&
        subject.user == "devid") {
        return polkit.Result.YES;
    }
});

